etc/snare/snare_dump.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" xmlns:xlink="http://www.w3.org/1999/xlink">
 <start>
  <element name="snare">
   <element name="ver"><text/></element>
   <element name="compiler"><text/></element>
   <element name="age"><data type="unsignedInt"/></element>
  </element>
 </start>
</grammar>
